* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.box {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background: #130f40;
}

.box .dot span {
  position: absolute;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #fff;
}

.box .dot span:nth-child(1) {
  top: 31%;
  left: 20%;
  animation: move 300s -183s ease-in-out infinite;
}

.box .dot span:nth-child(2) {
  top: 72%;
  left: 39%;
  animation: move 300s -291s ease-in-out infinite;
}

.box .dot span:nth-child(3) {
  top: 19%;
  left: 65%;
  animation: move 300s -142s ease-in-out infinite;
}

.box .dot span:nth-child(4) {
  top: 83%;
  left: 89%;
  animation: move 300s -180s ease-in-out infinite;
}

.box .dot span:nth-child(5) {
  top: 53%;
  left: 67%;
  animation: move 300s -42s ease-in-out infinite;
}

.box .dot span:nth-child(6) {
  top: 3%;
  left: 88%;
  animation: move 300s -212s ease-in-out infinite;
}

.box .dot span:nth-child(7) {
  top: 54%;
  left: 69%;
  animation: move 300s -295s ease-in-out infinite;
}

.box .dot span:nth-child(8) {
  top: 5%;
  left: 60%;
  animation: move 300s -90s ease-in-out infinite;
}

.box .dot span:nth-child(9) {
  top: 2%;
  left: 87%;
  animation: move 300s -198s ease-in-out infinite;
}

.box .dot span:nth-child(10) {
  top: 82%;
  left: 84%;
  animation: move 300s -287s ease-in-out infinite;
}

.box .dot span:nth-child(11) {
  top: 48%;
  left: 6%;
  animation: move 300s -242s ease-in-out infinite;
}

.box .dot span:nth-child(12) {
  top: 26%;
  left: 71%;
  animation: move 300s -195s ease-in-out infinite;
}

.box .dot span:nth-child(13) {
  top: 22%;
  left: 21%;
  animation: move 300s -112s ease-in-out infinite;
}

.box .dot span:nth-child(14) {
  top: 49%;
  left: 20%;
  animation: move 300s -59s ease-in-out infinite;
}

.box .dot span:nth-child(15) {
  top: 37%;
  left: 40%;
  animation: move 300s -120s ease-in-out infinite;
}

.box .dot span:nth-child(16) {
  top: 14%;
  left: 73%;
  animation: move 300s -197s ease-in-out infinite;
}

.box .dot span:nth-child(17) {
  top: 86%;
  left: 81%;
  animation: move 300s -207s ease-in-out infinite;
}

.box .dot span:nth-child(18) {
  top: 7%;
  left: 81%;
  animation: move 300s -43s ease-in-out infinite;
}

.box .dot span:nth-child(19) {
  top: 15%;
  left: 62%;
  animation: move 300s -42s ease-in-out infinite;
}

.box .dot span:nth-child(20) {
  top: 66%;
  left: 9%;
  animation: move 300s -37s ease-in-out infinite;
}

.box .dot span:nth-child(21) {
  top: 2%;
  left: 22%;
  animation: move 300s -210s ease-in-out infinite;
}

.box .dot span:nth-child(22) {
  top: 69%;
  left: 76%;
  animation: move 300s -291s ease-in-out infinite;
}

.box .dot span:nth-child(23) {
  top: 30%;
  left: 27%;
  animation: move 300s -231s ease-in-out infinite;
}

.box .dot span:nth-child(24) {
  top: 94%;
  left: 42%;
  animation: move 300s -122s ease-in-out infinite;
}

.box .dot span:nth-child(25) {
  top: 86%;
  left: 67%;
  animation: move 300s -200s ease-in-out infinite;
}

.box .dot span:nth-child(26) {
  top: 46%;
  left: 34%;
  animation: move 300s -14s ease-in-out infinite;
}

.box .dot span:nth-child(27) {
  top: 74%;
  left: 34%;
  animation: move 300s -264s ease-in-out infinite;
}

.box .dot span:nth-child(28) {
  top: 86%;
  left: 87%;
  animation: move 300s -282s ease-in-out infinite;
}

.box .dot span:nth-child(29) {
  top: 48%;
  left: 16%;
  animation: move 300s -108s ease-in-out infinite;
}

.box .dot span:nth-child(30) {
  top: 53%;
  left: 75%;
  animation: move 300s -212s ease-in-out infinite;
}

@keyframes move {
  0% {
    transform: translate(-85px, -14px);
  }

  1% {
    transform: translate(82px, 51px);
  }

  2% {
    transform: translate(-4px, -8px);
  }

  3% {
    transform: translate(-7px, -23px);
  }

  4% {
    transform: translate(-72px, -56px);
  }

  5% {
    transform: translate(43px, -98px);
  }

  6% {
    transform: translate(-64px, 52px);
  }

  7% {
    transform: translate(-77px, -61px);
  }

  8% {
    transform: translate(-84px, 9px);
  }

  9% {
    transform: translate(20px, 72px);
  }

  10% {
    transform: translate(86px, -61px);
  }

  11% {
    transform: translate(33px, -62px);
  }

  12% {
    transform: translate(29px, -35px);
  }

  13% {
    transform: translate(-40px, 47px);
  }

  14% {
    transform: translate(-35px, -7px);
  }

  15% {
    transform: translate(-53px, 64px);
  }

  16% {
    transform: translate(-33px, 72px);
  }

  17% {
    transform: translate(6px, 88px);
  }

  18% {
    transform: translate(-43px, 85px);
  }

  19% {
    transform: translate(85px, 86px);
  }

  20% {
    transform: translate(-88px, -6px);
  }

  21% {
    transform: translate(29px, 39px);
  }

  22% {
    transform: translate(-67px, 60px);
  }

  23% {
    transform: translate(-23px, -17px);
  }

  24% {
    transform: translate(99px, 4px);
  }

  25% {
    transform: translate(61px, 8px);
  }

  26% {
    transform: translate(66px, 56px);
  }

  27% {
    transform: translate(-74px, -89px);
  }

  28% {
    transform: translate(-95px, -81px);
  }

  29% {
    transform: translate(-50px, 73px);
  }

  30% {
    transform: translate(46px, 73px);
  }

  31% {
    transform: translate(70px, -48px);
  }

  32% {
    transform: translate(96px, -29px);
  }

  33% {
    transform: translate(10px, -58px);
  }

  34% {
    transform: translate(-90px, -43px);
  }

  35% {
    transform: translate(-52px, 28px);
  }

  36% {
    transform: translate(61px, -71px);
  }

  37% {
    transform: translate(-50px, -93px);
  }

  38% {
    transform: translate(80px, -5px);
  }

  39% {
    transform: translate(-74px, 80px);
  }

  40% {
    transform: translate(-92px, 26px);
  }

  41% {
    transform: translate(-31px, -90px);
  }

  42% {
    transform: translate(59px, -12px);
  }

  43% {
    transform: translate(-23px, -12px);
  }

  44% {
    transform: translate(17px, -49px);
  }

  45% {
    transform: translate(94px, 40px);
  }

  46% {
    transform: translate(-50px, 100px);
  }

  47% {
    transform: translate(49px, -17px);
  }

  48% {
    transform: translate(66px, -22px);
  }

  49% {
    transform: translate(24px, -63px);
  }

  50% {
    transform: translate(-43px, 100px);
  }

  51% {
    transform: translate(62px, -17px);
  }

  52% {
    transform: translate(-3px, -27px);
  }

  53% {
    transform: translate(3px, -82px);
  }

  54% {
    transform: translate(-60px, 21px);
  }

  55% {
    transform: translate(-59px, -3px);
  }

  56% {
    transform: translate(-73px, -70px);
  }

  57% {
    transform: translate(-6px, 59px);
  }

  58% {
    transform: translate(-99px, 39px);
  }

  59% {
    transform: translate(-66px, 98px);
  }

  60% {
    transform: translate(-50px, 13px);
  }

  61% {
    transform: translate(82px, 76px);
  }

  62% {
    transform: translate(-88px, 89px);
  }

  63% {
    transform: translate(4px, -77px);
  }

  64% {
    transform: translate(-28px, -44px);
  }

  65% {
    transform: translate(36px, 69px);
  }

  66% {
    transform: translate(-56px, 76px);
  }

  67% {
    transform: translate(71px, 76px);
  }

  68% {
    transform: translate(-36px, 3px);
  }

  69% {
    transform: translate(97px, -70px);
  }

  70% {
    transform: translate(-17px, -58px);
  }

  71% {
    transform: translate(-32px, -36px);
  }

  72% {
    transform: translate(7px, -93px);
  }

  73% {
    transform: translate(-51px, -42px);
  }

  74% {
    transform: translate(68px, -30px);
  }

  75% {
    transform: translate(-9px, -53px);
  }

  76% {
    transform: translate(65px, 52px);
  }

  77% {
    transform: translate(-49px, -32px);
  }

  78% {
    transform: translate(10px, 77px);
  }

  79% {
    transform: translate(97px, -36px);
  }

  80% {
    transform: translate(-91px, 75px);
  }

  81% {
    transform: translate(-11px, 98px);
  }

  82% {
    transform: translate(-69px, 1px);
  }

  83% {
    transform: translate(21px, 64px);
  }

  84% {
    transform: translate(-3px, -55px);
  }

  85% {
    transform: translate(-32px, 43px);
  }

  86% {
    transform: translate(-51px, 27px);
  }

  87% {
    transform: translate(-77px, -65px);
  }

  88% {
    transform: translate(1px, -25px);
  }

  89% {
    transform: translate(-74px, 89px);
  }

  90% {
    transform: translate(-28px, -87px);
  }

  91% {
    transform: translate(-60px, -75px);
  }

  92% {
    transform: translate(-45px, 38px);
  }

  93% {
    transform: translate(36px, 50px);
  }

  94% {
    transform: translate(1px, 30px);
  }

  95% {
    transform: translate(88px, 13px);
  }

  96% {
    transform: translate(93px, -67px);
  }

  97% {
    transform: translate(-39px, 92px);
  }

  98% {
    transform: translate(23px, -91px);
  }

  99% {
    transform: translate(82px, -85px);
  }

  100% {
    transform: translate(-15px, 46px);
  }
}
