@charset 'utf-8';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

// 背景
.box {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #130f40;
  overflow: hidden;

  // ドット
  .dot {
    span {
      position: absolute;
      width: 3px;
      height: 3px;
      background: #fff;
      border-radius: 50%;

      // span:nth-child(1)から
      // span:nth-child(30)まで
      // ループさせる処理
      @for $i from 1 through 30 {
        &:nth-child(#{$i}) {

          // 1%から100%までのランダムな値を決める
          top: random(100) * 1%;
          left: random(100) * 1%;

          // animation-delay（アニメーションが始まる時間）をランダム関数を使ってバラバラに設定
          // これにより、それぞれのドットがバラバラな動きをする
          animation: move 300s (random(300) * (-1s)) ease-in-out infinite;
        }
      }
    }
  }
}

@keyframes move {

  // 0%から100%まで1%ずつループさせる処理
  @for $i from 0 through 100 {
    #{$i * 1%} {

      // -100pxから100pxまでのランダムな値だけ移動させる
      transform: translate((random(200) - 100) * 1px, (random(200) - 100) * 1px);
    }
  }
}
